@use "./scss/variables" as v;

*,
::before,
::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
}

#app {
    min-height: 100vh;

    background-color: v.$grayish-white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea,
button {
    font-size: 1rem;
}

textarea {
    font-family: "Geist", sans-serif;
}
