@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin rounded($size) {
    @include size($size);

    border-radius: 50%;
}

@mixin transition-group($duration, $timing-function, $properties...) {
    transition-property: $properties;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
}
